@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* GLOBAL */
body {
    /* font-family: 'Google Sans',Roboto,Arial,sans-serif; */
    /* font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    background-color: #f4f6f8;
    font-family: 'Open Sans', sans-serif;
}
/* Helper */
.bg-default {
    background-color: #fff;
}
.shadow-1 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
.sidebar {
    background-color: #f5f5f5;
    border-left: 3px solid #ff0000;
}
.article-bl {
    padding: 16px;
}
.article__heading {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 8px;
}
.mt-100 {
    margin-top: 100px;
}
.detail-block {
    margin-top: 5px;
}
.detail-block:hover {
    background-color: #cdcdcd44;   
}
.detail-title {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.detail-content {
    font-size: 18px;
    width: 100%;
}
.ml-red {
    border-left: 3px solid #c91a2e
}
.ml-blue {
    border-left: 3px solid #334e8b
}
.ml-yellow {
    border-left: 3px solid #f79718;
}
.article-container {
    display: block;
    position: relative;
    margin-top: 100px;
    
}
.profile-avatar {
    width: 200px;
    height: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -100px;
    border-radius: 999px;
    display: block;
    overflow: hidden;
}
.profile-avatar:hover > .profile-avatar__edit {
    display: block;
}
.profile-avatar__edit {
    display: none;
    width: 200px;
    height: 70px;
    border: none;
    background-color: rgba(124, 124, 124, 0.589);
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}
.profile-avatar__img {
    width: 200px;
    height: auto;
    border-radius: 999px;
    border: 3px solid #c91a2e;
}



/* CV */
.sidebar-wrapper {
    background-color: #d45160;
   
    padding: 0;
}
.main-wrapper {
    background-color: #fff;
}
.profile-container {
    padding: 16px;
    background-color: #c91a2e;
}
.profile__avatar {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.profile__name {
    color: #fff;
    text-align: center;
}
.profile__specialist {
    color: #fff;
    text-align: center;
}
.block-container {
    padding: 32px;
}
.block-container__title {
    color: #fff;
}
.contact-container {
    padding: 0;
    list-style: none;
}
.contact-link, .contact-link a {
    color: #fff;
    margin-bottom: 8px;
}
.contact-link::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 8px;
}
.contact-link--mail::before {
    font-family: "Font Awesome 5 Free"; font-size: 18px; font-weight: 900; content: "\f0e0";
}
.contact-link--phone::before {
    font-family: "Font Awesome 5 Free"; font-size: 18px; font-weight: 900; content: "\f095";
}
.contact-link--web::before {
    font-family: "Font Awesome 5 Free"; font-size: 18px; font-weight: 900; content: "\f0ac";
}
.contact-link--git::before {
    font-family: "Font Awesome 5 Brands"; font-size: 18px;font-weight: 400; content: "\f09b";
}
.contact-link--fb::before {
    font-family: "Font Awesome 5 Brands"; font-size: 18px; font-weight: 400; content: "\f09a";
}
.sidebar-heading--1 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}
.sidebar-heading--2 {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.sidebar-heading--3 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
/* Main CV */

.main-item {
    margin-bottom: 32px;
}
.main-item__heading {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #c91a2e;
    margin-bottom: 8px;
    line-height: 32px;
}
.main-item__heading::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
    font-size: 16px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    background-color: #c91a2e;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    text-align: center;
    line-height: 32px;
}
.main-item__heading--goal::before {
    content: "\f0e0";
}
.main-item__heading--suitcase::before {
    content: "\f0f2";
}
/* UPLOAD MODAL */
    .image_area {
        position: relative;
    }

    img {
        display: block;
        max-width: 100%;
    }

    .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }

    .modal-lg {
        max-width: 1000px !important;
    }

    .overlay {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        height: 0;
        transition: .5s ease;
        width: 100%;
    }

    .image_area:hover .overlay {
        height: 50%;
        cursor: pointer;
    }

    .text {
        color: #333;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
/* END UPLOAD MODAL */