<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" crossorigin="anonymous" />
        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css">
    
</head>

<body>
    <div class="container">
        <div class="row mt-3 shadow-1">
            <div class="col-md-3 sidebar-wrapper shadow-1">
                <div class="profile-container">
                    <img src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/95853632_1288908511314610_6236089456328179712_n.jpg?_nc_cat=104&ccb=3&_nc_sid=09cbfe&_nc_ohc=betY4K-bAw0AX-Tx6po&_nc_ht=scontent.fdad1-1.fna&oh=af585b88c87f615cd60b6eefc4dde973&oe=606405D3"
                            class="profile__avatar">
                    <h4 class="profile__name">Đỗ Ngọc Thanh</h4>
                    <div class="profile__specialist">Chuyên ngành: Công nghệ thông tin</div>
                </div>
                <div class="block-container">
                    <ul class="contact-container">
                        <li class="contact-link contact-link--mail"><a href="#">alan.doe@website.com</a></li>
                        <li class="contact-link contact-link--phone"><a href="#">0347539143</a></li>
                        <li class="contact-link contact-link--web"><a href="#">ngocthanh909.tk</a></li>
                        <li class="contact-link contact-link--git"><a href="#">@ngocthanh909</a></li>
                        <li class="contact-link contact-link--fb"><a href="#">@ngocthanh909</a></li>
                    </ul>
                </div>
                <div class="block-container">
                    <div class="sidebar-heading--1">HỌC VẤN</div>
                    <div class="sidebar-heading--2">Kĩ sư Công nghệ thông tin</div>
                    <div class="sidebar-heading--3">Đại học CNTT và Truyền thông Việt Hàn (2019 - nay)</div>
                </div>
                <div class="block-container">
                    <div class="sidebar-heading--1">NGOẠI NGỮ</div>
                    <div class="sidebar-heading--2"><span class="sidebar-heading--2">Tiếng Anh</span><span class="sidebar-heading--3"> (IELT 4.0)</span></div>
                    <div class="sidebar-heading--2"><span class="sidebar-heading--2">Tiếng Nhật</span><span class="sidebar-heading--3"> (N3)</span></div>
                </div>
                <div class="block-container">
                    <div class="sidebar-heading--1">SỞ THÍCH</div>
                    <div class="sidebar-heading--3">eSport</div>
                    <div class="sidebar-heading--3">Ca hát</div>
                    <div class="sidebar-heading--3">Hội hoạ</div>
                </div>
            </div>
            <div class="col-md-9 main-wrapper">
                <div class="block-container">
                    <div class="main-item">
                        <div class="main-item__heading main-item__heading--goal">
                            Mục tiêu nghề nghiệp
                        </div>
                        <div class="main-item__article">
                            Summarise your career here lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can download this free resume/CV template here. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.
                        </div>
                    </div>
                    <div class="main-item">
                        <div class="main-item__heading main-item__heading--suitcase">
                            KINH NGHIỆM
                        </div>
                        <div class="main-item__article">
                            Summarise your career here lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can download this free resume/CV template here. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.
                        </div>
                    </div>
                    <div class="main-item">
                        <div class="main-item__heading main-item__heading--goal">
                            Mục tiêu nghề nghiệp
                        </div>
                        <div class="main-item__article">
                            Summarise your career here lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can download this free resume/CV template here. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>