<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- Sidebar block -->
            <!-- <div class="col-md-3 bg-default">
                <div class="bg-default">Sidebar</div>
            </div> -->
            <!-- Article block -->
            <div class="col-md-12">
                <div class="article-bl bg-default article-container">
                    <div class="profile-avatar">
                        <img src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/95853632_1288908511314610_6236089456328179712_n.jpg?_nc_cat=104&ccb=3&_nc_sid=09cbfe&_nc_ohc=betY4K-bAw0AX-Tx6po&_nc_ht=scontent.fdad1-1.fna&oh=af585b88c87f615cd60b6eefc4dde973&oe=606405D3"
                            class="profile-avatar__img">
                        <div class="profile-avatar__edit"><i class="fas fa-pen mr-1"></i> Chỉnh sửa</div>
                    </div>
                    <div class="article-item mt-100">
                        <div class="article__heading ml-red">THÔNG TIN CÁ NHÂN</div>
                        <div class="row p-2">
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title ">HỌ VÀ TÊN</div>
                                <div class="detail-content">Đỗ Ngọc Thanh</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Giới tính</div>
                                <div class="detail-content">Nam</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Ngày sinh</div>
                                <div class="detail-content">05/10/1999</div>
                            </div>
                            <div class="col-lg-4  detail-block">
                                <div class="detail-title">Dân tộc</div>
                                <div class="detail-content">Kinh</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Tôn giáo</div>
                                <div class="detail-content">Không</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Nơi sinh</div>
                                <div class="detail-content">Phú Yên</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">SỐ CMND/ CCND</div>
                                <div class="detail-content">0347539143</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Ngày cấp</div>
                                <div class="detail-content">1/12/2016</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Nơi cấp</div>
                                <div class="detail-content">Phú Yên</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Đoàn thể</div>
                                <div class="detail-content">Đoàn viên</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Mã số BHYT</div>
                                <div class="detail-content">14567890</div>
                            </div>
                        </div>
                    </div>
                    <div class="article-item">
                        <div class="article__heading ml-yellow">
                            THÔNG TIN GIA ĐÌNH
                        </div>
                        <div class="row p-2">
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Họ tên bố</div>
                                <div class="detail-content">Đỗ Thanh Toàn</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Năm sinh bố</div>
                                <div class="detail-content">1967</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Họ tên mẹ</div>
                                <div class="detail-content">Đỗ Thanh Toàn</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Năm sinh mẹ</div>
                                <div class="detail-content">1967</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Hộ khẩu (Tỉnh/ TP)</div>
                                <div class="detail-content">Phú Yên</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Hộ khẩu (Huyện/ Quận)</div>
                                <div class="detail-content">Sơn Hoà</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Hộ khẩu (Xã/ Phường)</div>
                                <div class="detail-content">Sơn Hà</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Hộ khẩu (Số nhà)</div>
                                <div class="detail-content">N/A</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Địa chỉ</div>
                                <div class="detail-content">Thông Ngân Điền, Sơn Hà, Sơn Hoà, Phú Yên</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Nơi đăng kí tạm trú</div>
                                <div class="detail-content">Thông Ngân Điền, Sơn Hà, Sơn Hoà, Phú Yên</div>
                            </div>
                        </div>
                    </div>
                    <div class="article-item">
                        <div class="article__heading ml-blue">
                            Thông tin liên lạc
                        </div>
                        <div class="row p-2">
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">SĐT</div>
                                <div class="detail-content">0354969613</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">SĐT GIA ĐÌNH</div>
                                <div class="detail-content">0347539143</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Email</div>
                                <div class="detail-content">thanhstp99@gmail.com</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Facebook</div>
                                <div class="detail-content">facebook.com/ngocthanh909</div>
                            </div>
                            <div class="col-lg-4 detail-block">
                                <div class="detail-title">Địa chỉ hiện tại</div>
                                <div class="detail-content">59 Lê Thiện Trị, Hoà Hải, Ngũ Hành Sơn, TP Đà Nẵng</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>